/********** common setting **********/

h6 {
  font-weight: 700;
}

img {
  display: block;
  max-width: 100%;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.shadow-lg {
  box-shadow: 1px 1px 5px black;
}

/* 
---------------------------------------------
HEADER/MENU SECTION
--------------------------------------------- 
*/

.header-area {
  position: fixed;
  top: 12px;
  left: 0px;
  right: 0px;
  z-index: 100;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-height: 80px;
}

.header-area .container .row .logo {
  margin-top: 14px;
}

.header-area .container .row .nav li a {
  color: #30282B;
}

.header-area .container .row .nav li a.active {
  color: #f33533;
}

.header-area .main-nav {
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
  border-radius: 5px;
  min-height: 80px;
  width: auto;
  background: #fff;
}

.header-area .main-nav .logo {
  float: left;
  margin-top: 37px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 30px;
}

.header-area .main-nav .logo img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 17px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
  text-decoration: none;
}

.header-area .main-nav .nav li a:hover {
  color: #f33533;
}

.header-area .container .row .col-12 .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f33533;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f33533;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #f33533;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #f33533;
}

/* 
---------------------------------------------
BANNER SECTION
--------------------------------------------- 
*/

#banner {
  background-size: cover;
  background-image: url('../img/banner-bg.jpg');
  height: 100vh;
}

#banner .container .child-banner {
  padding-top: 36vh;
}

#banner .container .child-banner h1 {
  color: white;
  text-shadow: 2px 2px 6px black;
  font-weight: bold;
  font-size: 37px;
  text-align: center;
}

#banner .container .child-banner p {
  color: white;
  text-shadow: 2px 2px 6px black;
  font-weight: normal;
  font-size: 22px;
  margin-top: 2vh;
  margin-bottom: 5vh;
  text-align: center;
}

.col-banner {
  -ms-flex-order: 1;
  order: 1;
  position: relative;
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px; */
  padding-bottom: 3rem !important;
  text-align: center;
}

#banner .container .child-banner a {
  color: white;
  background: linear-gradient(-45deg, #30282b, #f72320);
  font-weight: bold;
  font-size: 18px;
  margin-top: 2vh;
  margin-bottom: 5vh;
  border-radius: 8px !important;
  padding: 10px 30px !important;
  font-weight: 600;
  transition: .5s ease-in-out !important;
  text-decoration: none;
}

#banner .container .child-banner a:hover {
  color: #f33533;
  background: white;
}

/* 
---------------------------------------------
FEATURES SECTION
--------------------------------------------- 
*/

.container .child-feature {
  margin: 26vh 0 26vh 0;
}

.container .child-feature h2 {
  text-align: center;
  font-weight: bold;
  font-size: 44px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 0 5vh 0;
  color: #30282B;
}

.container .child-feature .row-feature {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2vh 0 2vh;
  margin-right: -15px;
  margin-left: -15px
}

.container .child-feature .row-feature .col-feature {
  position: relative;
  width: 100%;
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
  text-align: center;
}

.border-feature {
  padding: 0 15px 45px 15px;
  margin: 0 0 3vh 0;
  text-align: center;
  border-radius: 2%;
  box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 15%);
  background-color: #f8f9fa;
}

.container .child-feature .row-feature .col-feature h4 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
  color: #30282B;
}

.container .child-feature .row-feature .col-feature p {
  position: relative;
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
  text-align: justify;
  color: #30282B;
  font-size: 17.5px;
}

.container .child-feature .row-feature .col-feature .icon-feature {
  background: linear-gradient(-45deg, #30282b, #f72320);
  margin: 0 auto;
  height: 80px;
  width: 80px;
  border-radius: 13%;
  position: relative;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.container .child-feature .row-feature .col-feature .icon-feature i {
  font-size: 50px;
  line-height: 5;
  color: #fff;
}

/* 
---------------------------------------------
PRODUCT SECTION
--------------------------------------------- 
*/

#product-first {
  background: linear-gradient(168deg, #ffffff 55%, #f8f9fa 0);
  padding: 0 0 8.5vh 0;
}

#product-first .container .child-product h2 {
  text-align: center;
  font-weight: bold;
  font-size: 37px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 0 5vh 0;
  color: #30282B;
}

.row-product {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
  justify-content: center;
}

.col-product {
  -ms-flex-order: 1;
  order: 1;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 3rem !important;
}

#product-first .container .child-product .row-product .col-product h4 {
  font-size: 31px;
  font-weight: 650;
  text-align: start;
  padding: 0 15px 0 15px;
  margin: 0 0 3vh 0;
  color: #30282B;
}

#product-first .container .child-product .row-product .col-product p {
  position: relative;
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
  color: #30282B;
  font-size: 18px;
  text-align: justify;
}

.image-product {
  position: relative;
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex-order: 0;
  order: 0;
  padding-bottom: 3rem !important
}

.image-product img {
  width: auto;
  overflow: hidden;
  /* border-radius: 20px; */
  /* box-shadow: 0 0 15px 1px rgb(0 0 0 / 0.2); */
}

#product-last {
  background: #f8f9fa;
  padding: 0 0 13.5vh 0;
}

#product-last .container .child-product .row-product .col-product h4 {
  font-size: 31px;
  font-weight: 650;
  text-align: start;
  padding: 0 15px 0 15px;
  margin: 0 0 3vh 0;
  color: #30282B;
}

#product-last .container .child-product .row-product .col-product p {
  position: relative;
  padding: 0 15px 0 15px;
  margin: 0 0 0 0;
  color: #30282B;
  font-size: 18px;
  text-align: justify;
}

/* 
---------------------------------------------
TESTIMONY SECTION
--------------------------------------------- 
*/

#testimony {
  height: 100vh;
}

#testimony .container h2 {
  text-align: center;
  font-weight: bold;
  font-size: 44px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 0 5vh 0;
  color: #30282B;
  padding: 18vh 0 5vh 0;
}

.row-testimony {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 4.5vh 1vh 4.5vh 1vh;
  margin: 4vh 0 4vh 0;
}

.image-testimony {
  position: relative;
  overflow: hidden;
  padding: 2vh 0 4vh 0;
}

.col-testimony {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

blockquote::before {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  content: '\201c';
  font-size: 27px;
  font-weight: bolder;
}

blockquote::after {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  content: '\201d';
  font-size: 27px;
  font-weight: bolder;
}

#testimony blockquote h6 {
  position: relative;
  /* padding: 0 7.5vh 2.5vh 0; */
  margin: 0 0 0 0;
  color: #30282B;
  font-size: 17.5px;
  font-weight: 400;
  line-height: auto;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#testimony figcaption,
strong {
  color: #30282B;
  font-size: 20px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 
---------------------------------------------
CONTACT SECTION
--------------------------------------------- 
*/

#contact {
  padding: 15vh 0 8vh 0;
  background-size: cover;
  background-image: url('../img/contact-bg.jpg');
}


.row-contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
  justify-content: space-between;
}

.col-contact-info {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#contact .container .child-contact .row-contact .col-contact-info h2 {
  color: white;
  text-align: start;
  font-weight: bold;
  font-size: 44px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact .container .child-contact .row-contact .col-contact-info p {
  position: relative;
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-align: start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#contact .container .child-contact .row-contact .col-contact-info ul li {
  position: relative;
  color: white;
  font-weight: 400;
  font-size: 17px;
  text-align: start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 1.2rem 0 0 0;
}

.col-contact-form {
  color: #ffffff;
  padding: 0 15px 0 15px;
}

.col-contact-form input,
.col-contact-form textarea {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

#contact .container .child-contact .row-contact .col-contact-form form button {
  color: white;
  width: 100%;
  background: linear-gradient(-45deg, #30282b, #f72320);
  font-weight: bold;
  font-size: 18px;
  margin-top: 2vh;
  margin-bottom: 1rem !important;
  border-radius: 8px !important;
  padding: 10px 30px !important;
  font-weight: 600;
  transition: .5s ease-in-out !important;
  text-decoration: none;
}

#contact .container .child-contact .row-contact .col-contact-form form button:hover {
  color: #f33533;
  background: white;
}

/* 
---------------------------------------------
COPYRIGHT SECTION
--------------------------------------------- 
*/

#copyright {
  background: linear-gradient(-45deg, #30282b, #f72320);
  padding: 2rem 3rem;
}

.row-copyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
  justify-content: space-between;
}

.col-copyright {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  text-align: center;
  align-self: center;
  margin: 0 0 1vh 0;
}

.col-copyright-social-media {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  text-align: center;
  align-self: center;
}

.col-copyright-social-media a {
  width: 40px;
  font-size: larger;
  height: 40px;
  border-radius: 15%;
  background: #ffffff;
  transition: .4s ease;
}

.col-copyright-social-media a i {
  color: #f33533;
  font-size: 1.4rem;
  line-height: 40px;
}

.col-copyright-social-media a:hover {
  background: #f33533;
}

.col-copyright-social-media a:hover i {
  color: #ffffff;
}