/********** common setting **********/
h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

h6 {
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}


.text-white-banner{
        color:white;
        text-shadow: 2px 2px 6px black;    
} 

.text-white-banner-desc {
    color:white;
    text-shadow: 1px 1px 5px black;    
} 

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.shadow-lg{
    box-shadow: 1px 1px 5px black ;
}

.cta-red {
    color: #ffffff;
    background: linear-gradient(-45deg, #fc4c49, #f72320);
    box-shadow: black;
}

form .cta-red {
    color: #f33533;
    background: #ffffff;
}

form .cta-red:hover {
    color: #ffffff;
    background: #f33533;
}

.cta-red:hover {
    
    background: #ffffff;
    color: #f33533;
}

.cta-red-new {
    color: #ffffff;
    background: linear-gradient(-45deg, #fc4c49, #f72320);
}

.cta-red-new:hover {
    
    background:#30282B;
    color: #f33533;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}

#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 180px;

}

/********** feature (skew background) **********/
#feature-first .container-feature img {
    max-width: 100%;
    width: 95vh;   
}

#feature-first .container .col-md-4{
   margin-right: 6vh;
   padding-right: 5vh;
}

#feature-first {
    background: linear-gradient(168deg, #ffffff 55%, #f8f9fa 0);
}

.jumbotron .container-feature{
    padding: 0 4rem 0 18rem;
}

#feature-last {
    background: #f8f9fa;
}

.feature-2-text{
    color: black;
}

/* .feature-img-1 img{
    padding: 0 0 60px 0;
    max-width: 200%;
    width: 800px;
} */

img .img-fluid-feature {
    max-width:150%;
    width: 600px;
    height:auto;
   }

/********** price table **********/
#price-table {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}


/* Testimonial */

#testimony {
    background: #fff;
    color: #000000;
    padding: 9vh 0 12vh 0;
}

#testimony img{
    max-width: 100vh;
    width: 380px;
    padding: 14vh 0 6vh 0;
}

/* #testimony ul li {
    padding: 5px 0;
} */

#testimony h2 {
    padding: 0 0 0 0;
}

/* #testimony .testimony-center{
    background-color: #f8f9fa;
    box-shadow: 1px 1px 25px #d8d8d8;
    padding: 30px;
    height: 55vh;
} */

#testimony h6{
    color:black;
    font-size: 16px;
    line-height: 5.5vh;
    text-align: center;
    font-weight: 400;
    padding: 0 20vh 0 20vh;
}


/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #ffffff;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background:linear-gradient(40deg, #f33533, #f37270);
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #f33533;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #f33533;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media only screen and (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }

    #testimony {
        background: #fff;
        color: #000000;
        padding: 3vh 0 5vh 0;
    }

    #testimony img{
        max-width: 100vh;
        width: 250px;
        padding: 6vh 0 1vh 0;
    }

    #testimony h6{
        color:black;
        font-size: 14px;
        line-height: 3.0vh;
        text-align: center;
        font-weight: 400;
        padding: 0 3.5vh 0 3.5vh;
    }
}

.jumbotron header .container .row{
    padding: 0 0 0 20px ;
}

.feature-1 .wrap-icon.icon-1 {
    background: linear-gradient(120deg, #f33533, #f37270);
}

.wrap-icon {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.feature-1 .wrap-icon i {
    font-size: 46px;
    line-height: 5;
    color: #fff;
}