/* COSTUME MOBILE RESPONSIVENESS */

/* 
---------------------------------------------
HEADER/MENU SECTION
--------------------------------------------- 
*/
@media (max-width:1280px) {
    .header-area .main-nav .nav li {
        padding-left: 13px;
        padding-right: 13px;
    }

    .header-area .main-nav:before {
        display: none;
    }
}

@media (max-width:1024px) {
    .header-area .main-nav .nav li {
        padding-left: 11px;
        padding-right: 11px;
    }

    .header-area .main-nav:before {
        display: none;
    }
}

@media (min-width:992px) {
    .header-area .main-nav .nav {
        display: flex !important;
    }

}

@media (max-width:992px) {
    .header-area {
        padding: 0px 15px;
        height: 80px;
        box-shadow: none;
        text-align: center;
    }

    .header-area .container {
        padding: 0px;
    }

    .header-area .logo {
        margin-top: 9px !important;
        margin-left: 30px;
    }

    .header-area .menu-trigger {
        display: block !important;
    }

    .header-area .main-nav {
        overflow: hidden;
    }

    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        margin-top: 80px !important;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0px;
    }

    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }

    .header-area .main-nav .nav li {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        background: #fff !important;
        color: #000 !important;
    }

    .header-area .main-nav .nav li a:hover {
        background: #eee !important;
    }

}

@media (min-width:768px) {}

@media (min-width:576px) {}

@media (min-width:390px) {}

/* 
---------------------------------------------
BANNER SECTION
--------------------------------------------- 
*/

@media (max-width:1920px) {
    #banner .container .child-banner {
        padding-top: 36vh;
    }
}

@media (max-width:1200px) {}

@media (min-width:992px) {
    #banner .container .child-banner h1 {
        color: white;
        text-shadow: 2px 2px 6px black;
        font-weight: bold;
        font-size: 48px;
        text-align: start;
    }

    .col-banner {
        -ms-flex-order: 1;
        order: 1;
        position: relative;
        width: 100%;
        /* padding-right: 15px;
        padding-left: 15px; */
        padding-bottom: 3rem !important;
        text-align: start;
    }

    #banner .container .child-banner p {
        color: white;
        text-shadow: 2px 2px 6px black;
        font-weight: normal;
        font-size: 22px;
        margin-top: 2vh;
        margin-bottom: 5vh;
        text-align: start;
    }


    #banner .container .child-banner a {
        color: white;
        background: linear-gradient(-45deg, #30282b, #f72320);
        font-weight: bold;
        font-size: 18px;
        margin-top: 2vh;
        margin-bottom: 5vh;
        border-radius: 8px !important;
        padding: 10px 30px !important;
        font-weight: 600;
        transition: .5s ease-in-out !important;
        text-decoration: none;
    }

    #banner .container .child-banner a:hover {
        color: #f33533;
        background: white;
    }
}

@media (max-width:576px) {
    #banner .container .child-banner {
        padding-top: 29vh;
    }
}

@media (max-width:390px) {
    #banner .container .child-banner {
        padding-top: 25vh;
    }
}

/* 
---------------------------------------------
FEATURE SECTION
--------------------------------------------- 
*/
@media (max-width:1200px) {}

@media (max-width:992px) {
    .container .child-feature .row-feature {
        display: flex;
        /* flex-wrap: wrap; */
        padding: 0 2vh 0 2vh;
        margin-right: -15px;
        margin-left: -15px
    }
}

@media (min-width:768px) {
    .col-feature {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

}

@media (min-width:576px) {}

@media (min-width:390px) {}

/* 
---------------------------------------------
PRODUCT SECTION
--------------------------------------------- 
*/
@media (max-width:1200px) {}

@media (min-width:992px) {

    #product-first {
        background: linear-gradient(168deg, #ffffff 55%, #f8f9fa 0);
        padding: 0 0 20vh 0;
    }

    #product-last {
        background: #f8f9fa;
        padding: 0 0 26vh 0;
    }

    .col-product {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        -ms-flex-order: 1;
        order: 1
    }

    #product-first .image-product {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        -ms-flex-order: 1;
        order: 1
    }

    #product-last .image-product {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        -ms-flex-order: 0;
        order: 0
    }

    #product-first .container .child-product .row-product .col-product h4 {
        font-size: 31px;
        font-weight: 650;
        text-align: end;
        padding: 0 15px 0 15px;
        margin: 0 0 3vh 0;
        color: #30282B;
    }

    #product-first .container .child-product .row-product .col-product p {
        position: relative;
        padding: 0 15px 0 15px;
        margin: 0 0 0 0;
        color: #30282B;
        font-size: 18px;
        text-align: end;
    }

    #product-first .container .child-product h2 {
        text-align: left;
        font-weight: bold;
        font-size: 44px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0 0 5vh 0;
        color: #30282B;
    }

    #product-last .container .child-product .row-product .col-product h4 {
        font-size: 31px;
        font-weight: 650;
        text-align: justify;
        padding: 0 15px 0 15px;
        margin: 0 0 3vh 0;
        color: #30282B;
    }
}

@media (min-width:768px) {}

@media (min-width:576px) {}

@media (min-width:390px) {}


/* 
---------------------------------------------
TESTIMONY SECTION
--------------------------------------------- 
*/

@media (min-width:992px) {
    .row-testimony {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        align-items: center;
        justify-content: center;
        background-color: #e2dfdf;
        border-radius: 10px;
        padding: 3.6vh 0 3.6vh 0;
        margin: 0 9vh 0 9vh;
        -ms-flex-order: 1;
        order: 1
    }

    #testimony .container h2 {
        text-align: center;
        font-weight: bold;
        font-size: 44px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0 0 5vh 0;
        color: #30282B;
        padding: 18vh 0 5vh 0;
    }

    .col-testimony {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        -ms-flex-order: 1;
        order: 1;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .image-testimony {
        position: relative;
        overflow: hidden;
        padding: 0 0 0 9.5vh;
        width: 50% !important;
    }

    .image-testimony img {
        max-width: 80% !important;
    }

    #testimony blockquote h6 {
        position: relative;
        padding: 0 7.5vh 2.5vh 0;
        margin: 0 0 0 0;
        color: #30282B;
        font-size: 18px;
        text-align: justify;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media (max-width:990px) {
    .row-testimony {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /* margin-right: -15px;
        margin-left: -15px; */
        align-items: center;
        justify-content: center;
        background-color: #e2dfdf;
        border-radius: 10px;
        padding: 2vh 0 2vh 0;
    }
}

@media (min-width:768px) {}

@media (min-width:576px) {}

@media (min-width:390px) {}


/* 
---------------------------------------------
CONTACT SECTION
--------------------------------------------- 
*/
@media (min-width:1200px) {}

@media (min-width:992px) {
    #contact {
        padding: 23vh 0 17vh 0;
        background-size: cover;
        background-image: url('../img/contact-bg.jpg');
    }
}

@media (min-width:768px) {
    .col-contact-info {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 0 5vh 0;
    }
}

@media (min-width:576px) {}

@media (min-width:390px) {}

/* 
---------------------------------------------
FOOTER SECTION
--------------------------------------------- 
*/
@media (max-width:1200px) {}

@media (min-width:992px) {}

@media (min-width:768px) {
    .col-copyright {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        text-align: left;
        color: white;
        font-size: 15.5px;
    }

    .col-copyright-social-media {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        text-align: right;
        color: white;
    }
}

@media (min-width:576px) {}

@media (min-width:390px) {}